h1 {
  text-decoration: underline dashed;
}


footer {
    display: flex;
    justify-content: left;
    gap: 10%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/download.jpg);
    filter: grayscale(100%);
    padding: 16px;
    font-size: 16px;
}


header {
    display: flex;
    justify-content: left;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/download.jpg);
    filter: grayscale(100%);
    padding: 16px;
    font-size: 16px;
}

body {
    background-color: rgb(177, 177, 177);
    font-family: sans-serif;
}


  #paper {
    background-color: white;
    padding: 10px;
    margin: 20px;
  }

  a {
    color: black;
    font-size: 16px;
    text-decoration: none;
  }

  aside {
    padding: 10px;
    background-image: url(assets/download.jpg);
    filter: grayscale(100%);
    width: 27%;
  }

  #main {
    display: flex;
    gap: 1%;
    padding: 10px;
    background-image: url(assets/download.jpg);
    filter: grayscale(100%);
    width: 71%;
  }

  #mainsel {
    display: flex;
    gap: 1%;
    margin: 10px;
    height: 100%;
  }

  #mainp {
    width: 70%;
  }

  #mainp:first-letter {
    font-size: 32px;
  }

  #mainpp {
    width: 60%;
  }

  #news{
    width: 100%;
  }