h1 {
  text-decoration: underline dashed;
}

h3 {
  text-decoration: underline dashed;
}

footer {
    display: flex;
    justify-content: left;
    gap: 10%;
    background-color: rgb(156, 147, 136);
    padding: 16px;
    font-size: 16px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1%;
    background-color: rgb(189, 179, 166);
}

header {
    display: flex;
    justify-content: left;
    background-color: rgb(170, 158, 143);
    padding: 16px;
    font-size: 16px;
}

body {
    background-color: rgb(221, 205, 186);
    font-family: sans-serif;
}

#navi {
    background-color: rgb(163, 146, 123);
    color: black;
    font-style: normal;
    list-style-type: none;
    padding: 16px;
    font-size: 16px;
    text-decoration: none;
}


.dropbtn {
    background-color: rgb(163, 146, 123);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(224, 204, 176);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgb(202, 184, 159)}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: rgb(131, 117, 99);
  }

  #paper {
    background-color: white;
    padding: 10px;
    margin: 20px;
  }

  a {
    color: black;
    font-size: 16px;
    text-decoration: none;
  }

  aside {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: 27%;
  }

  #main {
    display: flex;
    gap: 1%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: 71%;
  }

  #mainsel {
    display: flex;
    gap: 1%;
    margin: 10px;
    height: 100%;
  }

  #mainp {
    width: 75%;
  }

  #mainp:first-letter {
    font-size: 32px;
  }